.top-country {
  min-height: 80%;
  padding: 0px 10px;
  .select-box{

    display: flex;
    justify-content: center;
    select{
      overflow: x;
      font-size: 16px;
      min-width: 160px;
      padding: 10px;
      margin-top: 20px;
      max-height: 140px;
      overflow-x: auto;
      option {
        //
      }
    }

  }

  .empty-listy{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

