.home {
  min-height: 80%;
  padding: 0px 10px;
  // min-height: 80vh

  .search {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      // float: left;
      width: 30%;
      background: #f1f1f1;
      border-right: none;
    }
    button{
      cursor: pointer;
      // border-left: none;
    }
  }

  .tabs{

    margin-top: 20px;
    // flex-direction: column;
    .tabs-button{
      display: flex;
      justify-content: center;
      button {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 12px;
        display: flex;
        margin-right: 10px;
        cursor: pointer;

      }

    }
    .empty-listy{
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

}

@media screen and (max-width: 900px) {
  .search input[type=text]{
    width: 50% !important;
  }
}
@media screen and (max-width: 600px) {
  .search input[type=text]{
    width: 70% !important;
  }
}
